In [102]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.race.value_counts()

    # What is the average age of men?
    average_age_men = round(df[df.sex == 'Male'].age.mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((df.education == 'Bachelors').mean() *100, 1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = round((df['education-num'] >= 13).mean() * 100, 1)
    lower_education = round((df['education-num'] < 13).mean() * 100,1)

    # percentage with salary >50K
    higher_education_rich = round((df[(df['education-num'] >= 13) & (df['education-num'] != 15)].salary == '>50K').mean() *100, 1)
    lower_education_rich = round((df[(df['education-num'] < 13) | (df['education-num'] == 15)].salary == '>50K').mean() *100, 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df['hours-per-week'] == 1]

    rich_percentage = round((df[df['hours-per-week'] == 1].salary == '>50K').mean() *100, 1)

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = (round(df[df['salary'] =='>50K']['native-country'].value_counts()
                                        /df['native-country'].value_counts() * 100,1).sort_values(ascending=False).index[0])
    highest_earning_country_percentage = (round(df[df['salary'] =='>50K']['native-country'].value_counts()
                                        /df['native-country'].value_counts() * 100,1).sort_values(ascending=False).values[0])

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df.salary == '>50K')&(df['native-country'] == 'India')]\
    .occupation.value_counts().index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [103]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}

In [4]:
df = pd.read_csv('adult.data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [8]:
df.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [11]:
df[df.sex == 'Male'].age.mean()

39.43354749885268

In [13]:
df[['education', 'education-num']]

        education  education-num
0       Bachelors             13
1       Bachelors             13
2         HS-grad              9
3            11th              7
4       Bachelors             13
...           ...            ...
32556  Assoc-acdm             12
32557     HS-grad              9
32558     HS-grad              9
32559     HS-grad              9
32560     HS-grad              9

[32561 rows x 2 columns]

In [16]:
(df.education == 'Bachelors').mean()

0.16446055096587942

In [29]:
(df['education-num'] >= 13).mean()

0.24775037621694665

In [30]:
(df['education-num'] < 13).mean()

0.7522496237830534

In [26]:
((df['education-num'] >= 13) & (df.salary == '>50K')).mean()

0.12005159546696968

In [75]:
(df[(df['education-num'] >= 13) & (df['education-num'] != 15)].salary == '>50K').mean()

0.46535843011613937

In [27]:
((df['education-num'] < 13) & (df.salary == '>50K')).mean()

0.1207579619790547

In [46]:
(df[df['education-num'] < 13].salary == '>50K').mean()

0.16052910916959257

In [35]:
(df[df['hours-per-week'] == 1].salary == '>50K').mean()

0.1

In [62]:
df[df.salary == '>50K']['native-country'].value_counts().index[0]

'United-States'

In [64]:
round(df[df.salary == '>50K']['native-country'].value_counts(normalize=True).values[0] * 100, 1)

91.5

In [61]:
df[(df.salary == '>50K')&(df['native-country'] == 'India')]\
    .occupation.value_counts().index[0]

'Prof-specialty'

In [97]:
round(df[df['salary'] =='>50K']['native-country'].value_counts() /df['native-country'].value_counts() * 100,1).sort_values(ascending=False).index[0]

'Iran'